/// <reference types="vite/client" />

interface ImportMetaEnv {
    readonly VITE_APP_API_ENDPOINT: string;
{{#if (has features "auth0")}}
    readonly VITE_APP_AUTH0_DOMAIN: string;
    readonly VITE_APP_AUTH0_CLIENT_ID: string;
    readonly VITE_APP_AUTH0_AUDIENCE: string;
{{/if}}
}

interface ImportMeta {
    readonly env: ImportMetaEnv;
}
