image: public.ecr.aws/docker/library/node:22

definitions:
  caches:
    pnpm:
      key:
        files:
          - pnpm-lock.yaml
          - cdk/pnpm-lock.yaml
      path: $BITBUCKET_CLONE_DIR/.pnpm-store
  steps:
    - step: &check
        name: Check
        runs-on:
          - 'self.hosted'
          - 'linux'
        script:
          - corepack enable
          - pnpm install
          - pnpm --dir=./cdk install
          - ./ci-check.sh
        caches:
          - pnpm
    - step: &deploy
        runs-on:
          - 'self.hosted'
          - 'linux'
        oidc: true
        caches:
          - pnpm
        script:
          # Configure OIDC
          - export AWS_REGION={{{region}}}
          - export AWS_ROLE_ARN={{{deployRoleArn}}}
          - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
          - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
          # Install dependencies
          - corepack enable
          - pnpm install
          - pnpm --dir=./cdk install
          # Deploy with CDK
          - pnpm --dir=./cdk cdk deploy --app dist/env-$BITBUCKET_DEPLOYMENT_ENVIRONMENT.js --require-approval never

pipelines:
  branches:
    main:
      - parallel:
          steps:
            - step: *check
            - step:
                name: Build CDK
                runs-on:
                  - 'self.hosted'
                  - 'linux'
                script:
                  - corepack enable
                  - cd cdk
                  - pnpm install
                  - pnpm build
                caches:
                  - pnpm
                artifacts:
                  - cdk/dist/**
      - step:
          <<: *deploy
          name: Deploy Staging
          deployment: staging
      - step:
          <<: *deploy
          name: Deploy Production
          deployment: production
          trigger: manual
  pull-requests:
    '**':
      - step: *check
