image: node:20

definitions:
  caches:
    pnpm:
      key:
        files:
          - pnpm-lock.yaml
          - cdk/pnpm-lock.yaml
      path: $BITBUCKET_CLONE_DIR/.pnpm-store
  steps:
    - step: &biome
        name: Biome
        runs-on:
          - 'self.hosted'
          - 'linux'
        script:
          - corepack enable
          - corepack prepare pnpm@latest-8 --activate
          - pnpm install
          - pnpm exec biome ci .
        caches:
          - pnpm
    - step: &type-check-api
        name: Type check API
        runs-on:
          - 'self.hosted'
          - 'linux'
        script:
          - corepack enable
          - corepack prepare pnpm@latest-8 --activate
          - pnpm install
          - pnpm exec tsc --noEmit
        caches:
          - pnpm
    - step: &deploy
        runs-on:
          - 'self.hosted'
          - 'linux'
        oidc: true
        caches:
          - pnpm
        script:
          # Configure OIDC
          - export AWS_REGION={{{region}}}
          - export AWS_ROLE_ARN={{{deployRoleArn}}}
          - export AWS_WEB_IDENTITY_TOKEN_FILE=$(pwd)/web-identity-token
          - echo $BITBUCKET_STEP_OIDC_TOKEN > $(pwd)/web-identity-token
          # Install dependencies
          - corepack enable
          - corepack prepare pnpm@latest-8 --activate
          - pnpm install
          - cd cdk
          - pnpm install
          # Deploy with CDK
          - pnpm exec cdk deploy --app dist/env-$BITBUCKET_DEPLOYMENT_ENVIRONMENT.js --require-approval never

pipelines:
  branches:
    main:
      - parallel:
          steps:
            - step: *biome
            - step: *type-check-api
            - step:
                name: Build CDK
                runs-on:
                  - 'self.hosted'
                  - 'linux'
                script:
                  - corepack enable
                  - corepack prepare pnpm@latest-8 --activate
                  - cd cdk
                  - CI=true pnpm install
                  - pnpm build
                caches:
                  - pnpm
                artifacts:
                  - cdk/dist/**
      - step:
          <<: *deploy
          name: Deploy Staging
          deployment: staging
      - step:
          <<: *deploy
          name: Deploy Production
          deployment: production
          trigger: manual
  pull-requests:
    '**':
      - parallel:
          steps:
            - step: *biome
            - step: *type-check-api
            - step:
                name: Type check CDK
                runs-on:
                  - 'self.hosted'
                  - 'linux'
                script:
                  - corepack enable
                  - corepack prepare pnpm@latest-8 --activate
                  - cd cdk
                  - CI=true pnpm install
                  - pnpm exec tsc --noEmit
                caches:
                  - pnpm
