# {{{appTitle}}}

## Setup

- `pnpm install`
- `pnpm start`

## Favicons

This project automatically generates favicons and injects them into the index.html file during build. To replace the
existing favicon, simply replace `src/assets/favicon.svg`. Even though vectors are preferred here, you can alternatively
use a PNG. In that case you need to update the path in `vite.config.ts`.
